<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thanks for your purchase</title>
</head>

<body>
    <h1>Thank you for your purchase <%= to %>.</h1>
    <h4>Your order details:</h4>
    <ol>
        <%- items %>
    </ol>
    <p><b>Total: $ <%= total %></b></p>
</body>

</html>